$white: #ffffff; // pricing component background 
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// project colors 

// primary 
$soft_cyan: hsl(174, 77%, 80%); // full slider bar
$strong_cyan:hsl(174, 86%, 45%); // slider background
$light_grayish_red: hsl(14, 92%, 95%); // discount background 
$light_red: hsl(15, 100%, 70%); // discount text
$pale_blue: hsl(226, 100%, 87%); // cta text

// secondary 
$very_pale_blue: hsl(230, 100%, 99%); // main background 
$light_grayish_blue: hsl(224, 65%, 95%); // empty slider bar 
$light_grayish_blue_toggle: hsl(223, 50%, 87%); // toggle background 
$grayish_blue: hsl(225, 20%, 60%); // text
$dark_desaturated_blue: hsl(227, 35%, 25%); // text & cta background