body {
    font-family: 'Manrope', sans-serif;
    color: $black;
    line-height: 1.3;
}

h1, h2, h3 {
    margin: 0px;
    color: $dark_desaturated_blue;
    text-align: center;
}

h1 {
    margin-top: 4.5rem;
}

p {
    color: $grayish_blue;
    text-align: center;
}

span {
    color: $grayish_blue;
    text-align: center;
}

.label {
    font-size: 12px;
}

.discount {
    font-size: 10px;
    color: $light_red;
    
    .larg {
        color: $light_red;
    }
}

li {
    font-size: 12px;      
    color: $grayish_blue;  
}

button {
    color:$pale_blue ;
    &:hover {
        color: $white;
    }
}

span.dollars {
    font-size: 32px;
    font-weight: 700;
    color: $dark_desaturated_blue;
}